openapi: 3.0.0
info:
  title: verifaid
  version: 1.0.0-oas3
  contact:
    name: Jagruti Shah
    email: jagruti.shah@sptr.co
servers:
  - url: 'https://api.verifaid.com/verifaid-api'
    description: Verifying money flow across businesses.
paths:
  /UserDetail:
    post:
      summary: Your POST endpoint
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  companyName:
                    type: object
                    properties:
                      status:
                        type: boolean
                  companyHouseNumber:
                    type: object
                    properties:
                      status:
                        type: boolean
                  firstName:
                    type: object
                    properties:
                      status:
                        type: boolean
                  lastName:
                    type: object
                    properties:
                      status:
                        type: boolean
                  email:
                    type: object
                    properties:
                      status:
                        type: boolean
                  phone:
                    type: object
                    properties:
                      status:
                        type: boolean
                  addressOne:
                    type: object
                    properties:
                      status:
                        type: boolean
                  addressTwo:
                    type: object
                    properties:
                      status:
                        type: boolean
                  postCode:
                    type: object
                    properties:
                      status:
                        type: boolean
                  houseNumber:
                    type: object
                    properties:
                      status:
                        type: boolean
                  country:
                    type: object
                    properties:
                      status:
                        type: boolean
                  bankName:
                    type: object
                    properties:
                      status:
                        type: boolean
                  accountNumber:
                    type: object
                    properties:
                      status:
                        type: boolean
                  vatNumber:
                    type: object
                    properties:
                      status:
                        type: boolean
                  dob:
                    type: object
                    properties:
                      status:
                        type: boolean
                  sortCode:
                    type: object
                    properties:
                      status:
                        type: boolean
        '401':
          description: Unauthorized
        '404':
          description: A user with the specified Information was not found.
      operationId: post-userDetails-getInfo
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                companyName:
                  type: string
                companyHouseNumber:
                  type: string
                firstName:
                  type: string
                lastName':
                  type: string
                email:
                  type: string
                phone:
                  type: string
                addressOne:
                  type: string
                addressTwo:
                  type: string
                postalCode:
                  type: string
                houseNumber:
                  type: string
                country:
                  type: string
                bankName:
                  type: string
                accountNumber:
                  type: string
                vatNumber:
                  type: string
                dob:
                  type: string
                sortCode:
                  type: string
      parameters:
        - schema:
            type: string
          in: header
          name: accesstoken
    get:
      summary: 'Your GET endpoint'
      operationId: get-UserDetail
      responses:
        '200':
          description: Redurects to VerifAId success page
        '401':
          description: Redirects to VerifAId Unauthorized page.
      description: 'Redirects to the Truelayer authentication page. '
      parameters:
        - schema:
            type: string
          in: query
          name: accessToken
        - schema:
            type: string
          in: query
          name: companyName
        - schema:
            type: string
          in: query
          name: firstName
        - schema:
            type: string
          in: query
          name: lastName
        - schema:
            type: string
          in: query
          name: companyHouseNumber
        - schema:
            type: string
          in: query
          name: phone
        - schema:
            type: string
          in: query
          name: email
        - schema:
            type: string
          in: query
          name: addressOne
        - schema:
            type: string
          in: query
          name: addressTwo
        - schema:
            type: string
          in: query
          name: postCode
        - schema:
            type: string
          in: query
          name: country
        - schema:
            type: string
          in: query
          name: houseNumber
        - schema:
            type: string
          in: query
          name: sortCode
        - schema:
            type: string
          in: query
          name: bankName
        - schema:
            type: string
          in: query
          name: accountNumber
        - schema:
            type: string
          in: query
          name: vatNumber
        - schema:
            type: string
          in: query
          name: dob
components:
  schemas:
    User:
      title: User
      type: object
      properties:
        id:
          type: string
        companyName:
          type: object
          properties:
            status:
              type: boolean
        companyHouseNumber:
          type: object
          properties:
            status:
              type: boolean
        firstName:
          type: object
          properties:
            status:
              type: boolean
        lastName:
          type: object
          properties:
            status:
              type: boolean
        email:
          type: object
          properties:
            status:
              type: boolean
        phone:
          type: object
          properties:
            status:
              type: boolean
        addressOne:
          type: object
          properties:
            status:
              type: boolean
        addressTwo:
          type: object
          properties:
            status:
              type: boolean
        postCode:
          type: object
          properties:
            status:
              type: boolean
        houseNumber:
          type: object
          properties:
            status:
              type: boolean
        country:
          type: object
          properties:
            status:
              type: boolean
        bankName:
          type: object
          properties:
            status:
              type: boolean
        accountNumber:
          type: object
          properties:
            status:
              type: boolean
        vatNumber:
          type: object
          properties:
            status:
              type: boolean
        dob:
          type: object
          properties:
            status:
              type: boolean
        sortCode:
          type: object
          properties:
            status:
              type: boolean
